@using LocalizeMessagesAndErrors
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ISimpleLocalizer SimpleLocalizer
@{
    ViewData["Title"] = "CheckNull";
}

<h3>@(SimpleLocalizer.LocalizeString("Run CheckNull", this))</h3>

<hr />
<form method="post">
    <!-- asp-validation-summary info, see https://www.learnrazorpages.com/razor-pages/tag-helpers/validation-summary-tag-helper -->
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">

        <label for="month">@(SimpleLocalizer.LocalizeString("Provide a string (can be null)", this))</label>
        <!-- Server-side validation info, see https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/validation -->
        <input type="text" id="month" name="month">
        <br><br>

        <div class="col-md-2">
            <button type="submit" class="btn btn-success">
                @(SimpleLocalizer.LocalizeString("Set string", this))
            </button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index"> @(SimpleLocalizer.LocalizeFormatted($"Back to {"StatusGenericLocalizer"} Home", this))</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}