@model LocalizedWebApp.Models.CreateDateDto

@{
    ViewData["Title"] = "CreateDate";
}

<h1>Create Date</h1>

<h4>CreateDateDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label">Month: (must be in english)</label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to StatusGenericLocalizer Home</a>
</div>

