@model string
@{
    ViewData["Title"] = "MissingResourceEntry";
}

<h2>StringLocalizer Controller</h2>

<h4>Message = "@Model"</h4>

<p>Note that the StringLocalizer service provides the localize key if there isn't entry in the resources.</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>