@model string
@{
    ViewData["Title"] = "Index";
}

<h2>LocalizeWithDefault Controller</h2>

<h4>Message = "@Model"</h4>

<p>Note that the LocalizeWithDefault service provides the default message if there isn't entry in the resources. It also logs a warning.</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>