@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-3">Localization Examples</h3>
</div>


<h3>Try these Controllers / links</h3>
<p>PS. Add <em>?ui-culture=en</em> or <em>?ui-culture=fi</em> to force culture.</p>

<ul>
    <li>
        <h4>.NET localization service: StringLocalizer</h4>
        <ul>
            <li><a class="navbar-brand" asp-area="" asp-controller="LocalizeWithDefault" asp-action="Index">Normal</a></li>
        </ul>
    </li>
    <li>
        <h4>Net.LocalizeMessagesAndErrors service: LocalizeWithDefault</h4>
        <ul>
            <li><a class="navbar-brand" asp-area="" asp-controller="LocalizeWithDefault" asp-action="Index">Normal</a></li>
        </ul>
    </li>
</ul>